@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
input {
  outline: none;
}

body main .search, body main .audio-player, body main .info-box, body main .video-player, body main .weather, body main .menu, body aside .calendar, body aside .address {
  background: rgb(226, 203, 237);
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

body main .search button, body aside .address button {
  height: 40px;
  line-height: 40px;
  color: #fff;
  background: #66cb34;
  padding: 0 45px;
  border-radius: 3px;
  border: none;
  outline: none;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: medium;
    font-size: 36px;
    margin: 12px 0px;
}

header {
    position: relative;
}

footer {
    margin-right: 1040px;
}

.hub-main {
    font-size: 25px;
    margin-bottom: 25px;
    margin-left: 50px;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.hub-click {
   margin-left: 1040px;
}

#sign-in {
    position: absolute;
    width: 75px;
    top: 25%;
    background-color: #f1c3df;
    font-family: "Montserrat", sans-serif;
    font-size: medium;
    border: 1.5px solid black;
    padding: 2px 2px;
    box-shadow: 0px 0px 1px 0.75px rgb(36, 36, 36);
    min-height: 25px;
    min-width: 75px;
}

#sign-in:hover {
    background-color: #d9abc8;
    transition: 0.4s;
}

#sign-in:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 4px #e88535;
}

#sign-in:active {
    background-color: orchid;
}

.hub-nav {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    width: 20%;
}

a {
    text-decoration: none;
    color: #126221;
}

a:hover {
    color:#55bf1f;
}

#one-body {
  text-align: center;
  margin-left: 30%;
  padding-bottom: 20px;
  text-decoration: wavy;

}

body {
  min-width: 1120px;
  background: linear-gradient(-45deg, #52eea3, #e73c7e, #2ba9d7, #7feef4);
  background-size: 500% 500%;
  animation: gradient 45s ease infinite;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin: 0 100px 100px 100px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body .wrapper {
  width: 1120px;
  margin: 0 auto;
  display: inline-block;
}
body .wrapper:after {
  content: " ";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
body > header {
  text-align: center;
  padding: 45px 0;
}
body > header h2 {
  font-size: 18px;
  color: #a1a0a0;
  color: #a1a0a0;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
body > header p {
  color: #a1a1a1;
}
body aside {
  width: 260px;
  float: left;
}

p {
    max-width: 650px;

}

.namu {
    display: inline-block;
    margin-left: 750px;
    max-width: 400px;
    max-height: 300px;
    margin-top: -220px;
}

.footer-link span {
    font-size: 14px;
    text-align: center;
    padding: 5px;
}

fieldset {
    max-width: 550px;
    max-height: min-content;
    padding: 10px;
    margin-left: 30%;
    margin-bottom: 50px;
    background: #fff;
    border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border: 1px solid #FFD2D2;
	background: #FFF4F4;
	box-shadow: inset 0px 0px 15px #FFE5E5;
	-moz-box-shadow: inset 0px 0px 15px #FFE5E5;
	-webkit-box-shadow: inset 0px 0px 15px #FFE5E5;
}

form#canvas {
    margin-bottom: 100px;
    padding-bottom: 50px;

}

.form-style-3 div {
    margin-bottom: 2px;
}

legend {
    color: #ffa0db;
	border-top: 1px solid #FFC2DC;
	border-left: 1px solid #FFC2DC;
	border-right: 1px solid #FFC2DC;
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	background: #fae5fe;
	padding: 0px 8px 3px 8px;
	box-shadow: -0px -1px 2px #ede0f4;
	-moz-box-shadow:-0px -1px 2px #ede0f4;
	-webkit-box-shadow:-0px -1px 2px #ede0f4;
	font-weight: normal;
	font-size: 12px;
}


textarea {
    width: 350px;
    height: 100px;
    margin-left: 20%;
    margin-bottom: 10px;
}

.form-style-3 textarea {
	width:250px;
	height:100px;
}

.form-style-3 label {
    display:block;
	margin-bottom: 2px;
}

.form-style-3 .among-us {
    margin-top: 10px;
    text-align: center;
    display: flex;
}

.form-style-3 input[type=text],
.form-style-3 input[type=date],
.form-style-3 input[type=datetime],
.form-style-3 input[type=number],
.form-style-3 input[type=search],
.form-style-3 input[type=time],
.form-style-3 input[type=url],
.form-style-3 input[type=email],
.form-style-3 select,
.form-style-3 textarea {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #FFC2DC;
	outline: none;
	color: #F072A9;
	padding: 5px 8px 5px 8px;
	box-shadow: inset 1px 1px 4px #FFD5E7;
	-moz-box-shadow: inset 1px 1px 4px #FFD5E7;
	-webkit-box-shadow: inset 1px 1px 4px #FFD5E7;
	background: #FFEFF6;
	width:50%;
}

.required {
    padding: 2px;
    margin-top: 5px;
}

label.comments {
    padding: 2px;
    margin-top: 3px;
}

.checkboxes label {
    display: inline-block;
    padding-right: 10px;
    white-space: nowrap;
  }
  .checkboxes input {
    vertical-align: middle;
  }
  .checkboxes label span {
    vertical-align: middle;
  }

.form-style-3 input[type=submit],
.form-style-3 input[type=button]{
	background: #EB3B88;
	border: 1px solid #C94A81;
	padding: 5px 15px 5px 15px;
	color: #FFCBE2;
	box-shadow: inset -1px -1px 3px #FF62A7;
	-moz-box-shadow: inset -1px -1px 3px #FF62A7;
	-webkit-box-shadow: inset -1px -1px 3px #FF62A7;
	border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	font-weight: bold;
}
.button {
   padding: 2px 3px;
   margin-top: 5px;
   background-color: #ffddf2;
   border-radius: 5px;
}

.button:hover {
    background-color: #d9abc8;
    transition: 0.4s;
}

.button:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 4px #e88535;
}

.button:active {
    background-color: orchid;
}

div.footer-form {
    margin-top: 10px;
    font-size: 12px;
}

.block-3 {
    padding-bottom: 100px;
    margin-bottom: 10px;
}


img.img-one {
    width: 899px;
    height: 695px;
    margin-left: 15%;
    margin-bottom: 20px;
    border: 2px solid black;
}

.hoverme-blue {
    background-color: transparent;
    display: inline-block;
}

img.img-one:hover {
    opacity: .5;
    border: 1px solid gray;
    filter: brightness(130%);
    -webkit-filter: brightness(130%);
    -moz-filter: brightness(130%);
    -o-filter: brightness(130%);
    -ms-filter: brightness(130%);
    -webkit-transition: all 0.50s;
    transition: all 0.50s;
}

img.hovermeblue::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    opacity: 0.5;
    z-index: 1;
  }

.img-two {
    width: 899px;
    height: 495px;
    margin-left: 15%;
    margin-bottom: 20px;
    border: 2px solid black;
}

img.img-two:hover {
    opacity: .5;
    border: 1px solid gray;
    filter: brightness(130%);
    -webkit-filter: brightness(130%);
    -moz-filter: brightness(130%);
    -o-filter: brightness(130%);
    -ms-filter: brightness(130%);
    -webkit-transition: all 0.50s;
    transition: all 0.50s;
}

img.img-three:hover {
    opacity: .5;
    border: 1px solid gray;
    filter: brightness(130%);
    -webkit-filter: brightness(130%);
    -moz-filter: brightness(130%);
    -o-filter: brightness(130%);
    -ms-filter: brightness(130%);
    -webkit-transition: all 0.50s;
    transition: all 0.50s;
}

.img-three {
    width: 899px;
    height: 495px;
    margin-left: 15%;
    margin-bottom: 20px;
    border: 2px solid black;
}

.img-four {
    width: 699px;
    height: 895px;
    margin-left: 20%;
    margin-bottom: 20px;
}

.img-five {
    width: 699px;
    height: 895px;
    margin-left: 20%;
    margin-bottom: 20px;
}

.par-four {
    margin-left: 20%;
}
